openapi: 3.0.3
info:
  title: FidduPay Cryptocurrency Payment Gateway API
  description: |
    Modern cryptocurrency payment gateway for merchants. Accept payments across 5 major blockchains with automatic forwarding, real-time notifications, and comprehensive merchant tools.
    
    ## Supported Cryptocurrencies (10 Total)
    - **Solana**: SOL, USDT (SPL)
    - **Ethereum**: ETH, USDT (ERC-20)
    - **BSC**: BNB, USDT (BEP-20)
    - **Polygon**: MATIC, USDT
    - **Arbitrum**: ARB, USDT
    
    ## Authentication
    All API requests require an API key in the Authorization header:
    ```
    Authorization: Bearer your_api_key_here
    ```
    
    ## Rate Limiting
    - 100 requests per minute per API key
    - Burst limit: 200 requests per 10 seconds
    - Returns 429 when exceeded
    
    ## Webhooks
    Payment status updates are sent to your configured webhook URL with HMAC-SHA256 signatures.
    
    ## Sandbox Environment
    - **Sandbox URL**: https://api-sandbox.fiddupay.com
    - **Test API Key**: sandbox_test_key_12345
    
  version: 2.0.0
  contact:
    name: FidduPay Support
    email: support@fiddupay.com
    url: https://docs.fiddupay.com
  license:
    name: Proprietary
    url: https://fiddupay.com/license

servers:
  - url: https://api.fiddupay.com
    description: Production server
  - url: https://api-sandbox.fiddupay.com
    description: Sandbox server
  - url: http://localhost:8080
    description: Local development server
  - url: http://localhost:3001
    description: Local sandbox server

tags:
  - name: Health
    description: Service health check and system status
  - name: Authentication
    description: Merchant registration and authentication
  - name: Payments
    description: Payment creation, management, and processing
  - name: Wallets
    description: Wallet and balance management
  - name: Withdrawals
    description: Withdrawal processing and management
  - name: Analytics
    description: Payment analytics, reporting, and data export
  - name: System
    description: System utilities and configuration

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: API key authentication. Get your API key from the merchant dashboard.

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          example: "Invalid API key"
        message:
          type: string
          example: "The provided API key is not valid"
        code:
          type: string
          example: "INVALID_API_KEY"
        request_id:
          type: string
          example: "req_1234567890"

    HealthResponse:
      type: object
      properties:
        status:
          type: string
          example: "healthy"
        timestamp:
          type: string
          format: date-time
          example: "2026-01-26T06:00:00Z"
        version:
          type: string
          example: "2.0.0"

    SystemStatus:
      type: object
      properties:
        api:
          type: object
          properties:
            status:
              type: string
              example: "operational"
            response_time:
              type: number
              example: 45
        database:
          type: object
          properties:
            status:
              type: string
              example: "operational"
            connections:
              type: number
              example: 8
        blockchain:
          type: object
          properties:
            solana:
              type: object
              properties:
                status:
                  type: string
                  example: "operational"
                block_height:
                  type: number
                  example: 123456789
            ethereum:
              type: object
              properties:
                status:
                  type: string
                  example: "operational"
                block_height:
                  type: number
                  example: 18500000

    RegisterMerchantRequest:
      type: object
      required:
        - business_name
        - email
        - password
      properties:
        business_name:
          type: string
          example: "My Crypto Store"
        email:
          type: string
          format: email
          example: "merchant@example.com"
        password:
          type: string
          minLength: 8
          example: "SecurePassword123!"
        website_url:
          type: string
          format: uri
          example: "https://mycryptostore.com"
        business_type:
          type: string
          enum: [e-commerce, saas, marketplace, other]
          example: "e-commerce"

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: "merchant@example.com"
        password:
          type: string
          example: "SecurePassword123!"

    AuthResponse:
      type: object
      properties:
        api_key:
          type: string
          example: "sk_live_1234567890abcdef"
        merchant_id:
          type: string
          example: "merchant_123"
        expires_at:
          type: string
          format: date-time
          example: "2026-12-31T23:59:59Z"

    CreatePaymentRequest:
      type: object
      required:
        - amount
        - currency
        - network
      properties:
        amount:
          type: number
          minimum: 0.01
          example: 100.50
        currency:
          type: string
          enum: [SOL, USDT, ETH, BNB, MATIC, ARB]
          example: "USDT"
        network:
          type: string
          enum: [solana, ethereum, bsc, polygon, arbitrum]
          example: "ethereum"
        description:
          type: string
          maxLength: 500
          example: "Premium subscription payment"
        metadata:
          type: object
          example:
            orderId: "order-123"
            customerId: "customer-456"
        webhook_url:
          type: string
          format: uri
          example: "https://your-site.com/webhooks/fiddupay"
        redirect_url:
          type: string
          format: uri
          example: "https://your-site.com/payment-success"
        expires_at:
          type: string
          format: date-time
          example: "2026-01-26T07:00:00Z"

    Payment:
      type: object
      properties:
        id:
          type: string
          example: "payment_123"
        amount:
          type: number
          example: 100.50
        currency:
          type: string
          example: "USDT"
        network:
          type: string
          example: "ethereum"
        status:
          type: string
          enum: [pending, confirmed, completed, expired, cancelled, failed]
          example: "pending"
        deposit_address:
          type: string
          example: "0x742d35Cc6634C0532925a3b8D4C9db96DfbF8b82"
        payment_url:
          type: string
          example: "https://pay.fiddupay.com/payment_123"
        qr_code:
          type: string
          example: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
        description:
          type: string
          example: "Premium subscription payment"
        metadata:
          type: object
          example:
            orderId: "order-123"
        created_at:
          type: string
          format: date-time
          example: "2026-01-26T06:00:00Z"
        expires_at:
          type: string
          format: date-time
          example: "2026-01-26T07:00:00Z"
        confirmed_at:
          type: string
          format: date-time
          nullable: true
          example: "2026-01-26T06:05:00Z"

    PaymentList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Payment'
        total:
          type: number
          example: 150
        limit:
          type: number
          example: 20
        offset:
          type: number
          example: 0
        has_more:
          type: boolean
          example: true

    CreateWalletRequest:
      type: object
      required:
        - name
        - currency
        - network
        - address
      properties:
        name:
          type: string
          example: "Main Business Wallet"
        currency:
          type: string
          enum: [SOL, USDT, ETH, BNB, MATIC, ARB]
          example: "USDT"
        network:
          type: string
          enum: [solana, ethereum, bsc, polygon, arbitrum]
          example: "ethereum"
        address:
          type: string
          example: "0x742d35Cc6634C0532925a3b8D4C9db96DfbF8b82"

    Wallet:
      type: object
      properties:
        id:
          type: string
          example: "wallet_123"
        name:
          type: string
          example: "Main Business Wallet"
        currency:
          type: string
          example: "USDT"
        network:
          type: string
          example: "ethereum"
        address:
          type: string
          example: "0x742d35Cc6634C0532925a3b8D4C9db96DfbF8b82"
        balance:
          type: number
          example: 1250.75
        created_at:
          type: string
          format: date-time
          example: "2026-01-26T06:00:00Z"

    CreateWithdrawalRequest:
      type: object
      required:
        - amount
        - currency
        - network
        - to_address
      properties:
        amount:
          type: number
          minimum: 0.01
          example: 500.00
        currency:
          type: string
          enum: [SOL, USDT, ETH, BNB, MATIC, ARB]
          example: "USDT"
        network:
          type: string
          enum: [solana, ethereum, bsc, polygon, arbitrum]
          example: "ethereum"
        to_address:
          type: string
          example: "0x742d35Cc6634C0532925a3b8D4C9db96DfbF8b82"
        description:
          type: string
          example: "Monthly withdrawal to main wallet"

    Withdrawal:
      type: object
      properties:
        id:
          type: string
          example: "withdrawal_123"
        amount:
          type: number
          example: 500.00
        currency:
          type: string
          example: "USDT"
        network:
          type: string
          example: "ethereum"
        to_address:
          type: string
          example: "0x742d35Cc6634C0532925a3b8D4C9db96DfbF8b82"
        status:
          type: string
          enum: [pending, processing, completed, failed, cancelled]
          example: "pending"
        transaction_hash:
          type: string
          nullable: true
          example: "0x1234567890abcdef..."
        fee:
          type: number
          example: 2.50
        created_at:
          type: string
          format: date-time
          example: "2026-01-26T06:00:00Z"

    SupportedCurrencies:
      type: object
      properties:
        currencies:
          type: array
          items:
            type: object
            properties:
              currency:
                type: string
                example: "USDT"
              network:
                type: string
                example: "ethereum"
              name:
                type: string
                example: "Tether USD"
              symbol:
                type: string
                example: "USDT"
              decimals:
                type: number
                example: 6
              contract_address:
                type: string
                nullable: true
                example: "0xdAC17F958D2ee523a2206206994597C13D831ec7"
              confirmations:
                type: number
                example: 12
              min_amount:
                type: number
                example: 1.00
paths:
  /api/v1/health:
    get:
      tags:
        - Health
      summary: Health check
      description: Check service health status
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /api/v1/status:
    get:
      tags:
        - Health
      summary: System status
      description: Get detailed system status including blockchain connectivity
      responses:
        '200':
          description: System status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemStatus'

  /api/v1/merchants/register:
    post:
      tags:
        - Authentication
      summary: Register merchant
      description: Register a new merchant account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterMerchantRequest'
      responses:
        '200':
          description: Merchant registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/merchants/login:
    post:
      tags:
        - Authentication
      summary: Login merchant
      description: Authenticate merchant and get API key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/payments:
    post:
      tags:
        - Payments
      summary: Create payment
      description: Create a new payment request
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequest'
      responses:
        '200':
          description: Payment created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      tags:
        - Payments
      summary: List payments
      description: Get list of payments with optional filtering
      security:
        - BearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Number of payments to return
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Number of payments to skip
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: status
          in: query
          description: Filter by payment status
          schema:
            type: string
            enum: [pending, confirmed, completed, expired, cancelled, failed]
        - name: currency
          in: query
          description: Filter by currency
          schema:
            type: string
            enum: [SOL, USDT, ETH, BNB, MATIC, ARB]
        - name: network
          in: query
          description: Filter by network
          schema:
            type: string
            enum: [solana, ethereum, bsc, polygon, arbitrum]
      responses:
        '200':
          description: Payments retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentList'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/payments/{paymentId}:
    get:
      tags:
        - Payments
      summary: Get payment
      description: Get details of a specific payment
      security:
        - BearerAuth: []
      parameters:
        - name: paymentId
          in: path
          required: true
          description: Payment ID
          schema:
            type: string
            example: "payment_123"
      responses:
        '200':
          description: Payment retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '404':
          description: Payment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/wallets:
    get:
      tags:
        - Wallets
      summary: List wallets
      description: Get list of merchant wallets
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Wallets retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Wallet'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      tags:
        - Wallets
      summary: Create wallet
      description: Create a new wallet for receiving payments
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalletRequest'
      responses:
        '200':
          description: Wallet created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/withdrawals:
    post:
      tags:
        - Withdrawals
      summary: Create withdrawal
      description: Create a new withdrawal request
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWithdrawalRequest'
      responses:
        '200':
          description: Withdrawal created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Withdrawal'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      tags:
        - Withdrawals
      summary: List withdrawals
      description: Get list of withdrawals
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          description: Filter by withdrawal status
          schema:
            type: string
            enum: [pending, processing, completed, failed, cancelled]
        - name: limit
          in: query
          description: Number of withdrawals to return
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Withdrawals retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Withdrawal'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/currencies:
    get:
      tags:
        - System
      summary: Supported currencies
      description: Get list of supported cryptocurrencies and networks
      responses:
        '200':
          description: Supported currencies retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportedCurrencies'

security:
  - BearerAuth: []
        - email
        - password
      properties:
        business_name:
          type: string
          example: "My Business"
        email:
          type: string
          format: email
          example: "merchant@example.com"
        password:
          type: string
          minLength: 8
          example: "secure_password"

    RegisterMerchantResponse:
      type: object
      properties:
        merchant_id:
          type: integer
          example: 123
        api_key:
          type: string
          example: "your_api_key_here"

    RotateApiKeyResponse:
      type: object
      properties:
        api_key:
          type: string
          example: "new_api_key_here"

    SetWalletRequest:
      type: object
      required:
        - crypto_type
        - address
      properties:
        crypto_type:
          type: string
          enum: [SOL, USDT_SOL, USDT_ETH, USDT_BSC, USDT_POLYGON, USDT_ARBITRUM]
          example: "USDT_ETH"
        address:
          type: string
          example: "0x742d35Cc6634C0532925a3b8D4C9db96590c6C87"

    SetWebhookRequest:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: uri
          example: "https://your-site.com/webhook"

    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true

    CreatePaymentRequest:
      type: object
      required:
        - amount_usd
        - crypto_type
      properties:
        amount_usd:
          type: string
          pattern: '^\d+\.\d{2}$'
          example: "100.00"
        crypto_type:
          type: string
          enum: [SOL, USDT_SOL, USDT_ETH, USDT_BSC, USDT_POLYGON, USDT_ARBITRUM]
          example: "USDT_ETH"
        description:
          type: string
          example: "Order #12345"
        metadata:
          type: object
          example:
            order_id: "12345"
            customer_id: "cust_123"

    PaymentResponse:
      type: object
      properties:
        payment_id:
          type: string
          example: "pay_abc123"
        status:
          type: string
          enum: [PENDING, CONFIRMED, FAILED, EXPIRED]
          example: "PENDING"
        amount:
          type: string
          example: "101.50"
        amount_usd:
          type: string
          example: "101.50"
        crypto_type:
          type: string
          example: "USDT_ETH"
        network:
          type: string
          example: "ETHEREUM"
        deposit_address:
          type: string
          example: "0x742d35Cc6634C0532925a3b8D4C9db96590c6C87"
        payment_link:
          type: string
          format: uri
          example: "https://pay.example.com/pay_abc123"
        qr_code_data:
          type: string
          example: "ethereum:0x742d35Cc6634C0532925a3b8D4C9db96590c6C87?value=101.50"
        fee_amount:
          type: string
          example: "1.50"
        fee_amount_usd:
          type: string
          example: "1.50"
        expires_at:
          type: string
          format: date-time
          example: "2026-01-24T16:30:00Z"
        created_at:
          type: string
          format: date-time
          example: "2026-01-24T15:30:00Z"
        confirmed_at:
          type: string
          format: date-time
          nullable: true
          example: null
        transaction_hash:
          type: string
          nullable: true
          example: null

    PaymentListResponse:
      type: object
      properties:
        payments:
          type: array
          items:
            $ref: '#/components/schemas/PaymentResponse'
        total:
          type: integer
          example: 1
        page:
          type: integer
          example: 1
        page_size:
          type: integer
          example: 20
        total_pages:
          type: integer
          example: 1

    BalanceResponse:
      type: object
      properties:
        balances:
          type: array
          items:
            type: object
            properties:
              crypto_type:
                type: string
                example: "USDT_ETH"
              available:
                type: string
                example: "1000.00"
              reserved:
                type: string
                example: "50.00"
              total:
                type: string
                example: "1050.00"
        total_usd:
          type: string
          example: "1050.00"
        available_usd:
          type: string
          example: "1000.00"
        reserved_usd:
          type: string
          example: "50.00"

    AnalyticsResponse:
      type: object
      properties:
        total_volume_usd:
          type: string
          example: "10000.00"
        successful_payments:
          type: integer
          example: 95
        failed_payments:
          type: integer
          example: 5
        total_fees_paid:
          type: string
          example: "150.00"
        average_transaction_value:
          type: string
          example: "105.26"
        by_blockchain:
          type: object
          additionalProperties:
            type: object
            properties:
              volume_usd:
                type: string
              count:
                type: integer
              average_value:
                type: string

paths:
  /health:
    get:
      tags:
        - Health
      summary: Health check
      description: Check service health status
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /api/v1/merchants/register:
    post:
      tags:
        - Merchants
      summary: Register merchant
      description: Register a new merchant account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterMerchantRequest'
      responses:
        '200':
          description: Merchant registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterMerchantResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/merchants/api-keys/rotate:
    post:
      tags:
        - Merchants
      summary: Rotate API key
      description: Generate a new API key for security
      security:
        - BearerAuth: []
      responses:
        '200':
          description: API key rotated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotateApiKeyResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/merchants/wallets:
    put:
      tags:
        - Merchants
      summary: Configure wallet
      description: Set wallet address for a cryptocurrency
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetWalletRequest'
      responses:
        '200':
          description: Wallet configured successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/merchants/webhook:
    put:
      tags:
        - Merchants
      summary: Configure webhook
      description: Set webhook URL for payment notifications
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetWebhookRequest'
      responses:
        '200':
          description: Webhook configured successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/payments:
    post:
      tags:
        - Payments
      summary: Create payment
      description: Create a new payment request
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequest'
      responses:
        '200':
          description: Payment created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      tags:
        - Payments
      summary: List payments
      description: Get list of payments with optional filtering
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          description: Filter by payment status
          schema:
            type: string
            enum: [PENDING, CONFIRMED, FAILED, EXPIRED]
        - name: crypto_type
          in: query
          description: Filter by cryptocurrency
          schema:
            type: string
            enum: [SOL, USDT_SOL, USDT_ETH, USDT_BSC, USDT_POLYGON, USDT_ARBITRUM]
        - name: from_date
          in: query
          description: Start date (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: to_date
          in: query
          description: End date (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: page_size
          in: query
          description: Items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Payments retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/payments/{payment_id}:
    get:
      tags:
        - Payments
      summary: Get payment
      description: Get details of a specific payment
      security:
        - BearerAuth: []
      parameters:
        - name: payment_id
          in: path
          required: true
          description: Payment ID
          schema:
            type: string
            example: "pay_abc123"
      responses:
        '200':
          description: Payment retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        '404':
          description: Payment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/balance:
    get:
      tags:
        - Balance
      summary: Get balance
      description: Get current account balances
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Balance retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/analytics:
    get:
      tags:
        - Analytics
      summary: Get analytics
      description: Get payment analytics and statistics
      security:
        - BearerAuth: []
      parameters:
        - name: from_date
          in: query
          description: Start date (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: to_date
          in: query
          description: End date (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: blockchain
          in: query
          description: Filter by blockchain network
          schema:
            type: string
            enum: [SOLANA, ETHEREUM, BSC, POLYGON, ARBITRUM]
      responses:
        '200':
          description: Analytics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
