openapi: 3.0.3
info:
  title: PayFlow Cryptocurrency Payment Gateway API
  description: |
    Modern cryptocurrency payment gateway for merchants. Accept payments across multiple blockchains with automatic forwarding, real-time notifications, and comprehensive merchant tools.
    
    ## Authentication
    All API requests require an API key in the Authorization header:
    ```
    Authorization: Bearer your_api_key_here
    ```
    
    ## Rate Limiting
    - 100 requests per minute per API key
    - Burst limit: 200 requests per 10 seconds
    - Returns 429 when exceeded
    
    ## Webhooks
    Payment status updates are sent to your configured webhook URL with HMAC-SHA256 signatures.
    
  version: 1.0.0
  contact:
    name: PayFlow Support
    email: support@payflow.com
    url: https://docs.payflow.com
  license:
    name: Proprietary
    url: https://payflow.com/license

servers:
  - url: https://api.payflow.com
    description: Production server
  - url: http://localhost:8080
    description: Local development

tags:
  - name: Health
    description: Service health check
  - name: Merchants
    description: Merchant account management
  - name: Payments
    description: Payment creation and management
  - name: Balance
    description: Balance management
  - name: Analytics
    description: Payment analytics and reporting
  - name: Withdrawals
    description: Withdrawal management

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          example: "Invalid API key"
        message:
          type: string
          example: "The provided API key is not valid"
        code:
          type: string
          example: "INVALID_API_KEY"

    HealthResponse:
      type: object
      properties:
        status:
          type: string
          example: "healthy"
        timestamp:
          type: string
          format: date-time
          example: "2026-01-24T15:30:00Z"

    RegisterMerchantRequest:
      type: object
      required:
        - business_name
        - email
        - password
      properties:
        business_name:
          type: string
          example: "My Business"
        email:
          type: string
          format: email
          example: "merchant@example.com"
        password:
          type: string
          minLength: 8
          example: "secure_password"

    RegisterMerchantResponse:
      type: object
      properties:
        merchant_id:
          type: integer
          example: 123
        api_key:
          type: string
          example: "your_api_key_here"

    RotateApiKeyResponse:
      type: object
      properties:
        api_key:
          type: string
          example: "new_api_key_here"

    SetWalletRequest:
      type: object
      required:
        - crypto_type
        - address
      properties:
        crypto_type:
          type: string
          enum: [SOL, USDT_SOL, USDT_ETH, USDT_BSC, USDT_POLYGON, USDT_ARBITRUM]
          example: "USDT_ETH"
        address:
          type: string
          example: "0x742d35Cc6634C0532925a3b8D4C9db96590c6C87"

    SetWebhookRequest:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: uri
          example: "https://your-site.com/webhook"

    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true

    CreatePaymentRequest:
      type: object
      required:
        - amount_usd
        - crypto_type
      properties:
        amount_usd:
          type: string
          pattern: '^\d+\.\d{2}$'
          example: "100.00"
        crypto_type:
          type: string
          enum: [SOL, USDT_SOL, USDT_ETH, USDT_BSC, USDT_POLYGON, USDT_ARBITRUM]
          example: "USDT_ETH"
        description:
          type: string
          example: "Order #12345"
        metadata:
          type: object
          example:
            order_id: "12345"
            customer_id: "cust_123"

    PaymentResponse:
      type: object
      properties:
        payment_id:
          type: string
          example: "pay_abc123"
        status:
          type: string
          enum: [PENDING, CONFIRMED, FAILED, EXPIRED]
          example: "PENDING"
        amount:
          type: string
          example: "101.50"
        amount_usd:
          type: string
          example: "101.50"
        crypto_type:
          type: string
          example: "USDT_ETH"
        network:
          type: string
          example: "ETHEREUM"
        deposit_address:
          type: string
          example: "0x742d35Cc6634C0532925a3b8D4C9db96590c6C87"
        payment_link:
          type: string
          format: uri
          example: "https://pay.example.com/pay_abc123"
        qr_code_data:
          type: string
          example: "ethereum:0x742d35Cc6634C0532925a3b8D4C9db96590c6C87?value=101.50"
        fee_amount:
          type: string
          example: "1.50"
        fee_amount_usd:
          type: string
          example: "1.50"
        expires_at:
          type: string
          format: date-time
          example: "2026-01-24T16:30:00Z"
        created_at:
          type: string
          format: date-time
          example: "2026-01-24T15:30:00Z"
        confirmed_at:
          type: string
          format: date-time
          nullable: true
          example: null
        transaction_hash:
          type: string
          nullable: true
          example: null

    PaymentListResponse:
      type: object
      properties:
        payments:
          type: array
          items:
            $ref: '#/components/schemas/PaymentResponse'
        total:
          type: integer
          example: 1
        page:
          type: integer
          example: 1
        page_size:
          type: integer
          example: 20
        total_pages:
          type: integer
          example: 1

    BalanceResponse:
      type: object
      properties:
        balances:
          type: array
          items:
            type: object
            properties:
              crypto_type:
                type: string
                example: "USDT_ETH"
              available:
                type: string
                example: "1000.00"
              reserved:
                type: string
                example: "50.00"
              total:
                type: string
                example: "1050.00"
        total_usd:
          type: string
          example: "1050.00"
        available_usd:
          type: string
          example: "1000.00"
        reserved_usd:
          type: string
          example: "50.00"

    AnalyticsResponse:
      type: object
      properties:
        total_volume_usd:
          type: string
          example: "10000.00"
        successful_payments:
          type: integer
          example: 95
        failed_payments:
          type: integer
          example: 5
        total_fees_paid:
          type: string
          example: "150.00"
        average_transaction_value:
          type: string
          example: "105.26"
        by_blockchain:
          type: object
          additionalProperties:
            type: object
            properties:
              volume_usd:
                type: string
              count:
                type: integer
              average_value:
                type: string

paths:
  /health:
    get:
      tags:
        - Health
      summary: Health check
      description: Check service health status
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /api/v1/merchants/register:
    post:
      tags:
        - Merchants
      summary: Register merchant
      description: Register a new merchant account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterMerchantRequest'
      responses:
        '200':
          description: Merchant registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterMerchantResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/merchants/api-keys/rotate:
    post:
      tags:
        - Merchants
      summary: Rotate API key
      description: Generate a new API key for security
      security:
        - BearerAuth: []
      responses:
        '200':
          description: API key rotated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotateApiKeyResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/merchants/wallets:
    put:
      tags:
        - Merchants
      summary: Configure wallet
      description: Set wallet address for a cryptocurrency
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetWalletRequest'
      responses:
        '200':
          description: Wallet configured successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/merchants/webhook:
    put:
      tags:
        - Merchants
      summary: Configure webhook
      description: Set webhook URL for payment notifications
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetWebhookRequest'
      responses:
        '200':
          description: Webhook configured successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/payments:
    post:
      tags:
        - Payments
      summary: Create payment
      description: Create a new payment request
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequest'
      responses:
        '200':
          description: Payment created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      tags:
        - Payments
      summary: List payments
      description: Get list of payments with optional filtering
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          description: Filter by payment status
          schema:
            type: string
            enum: [PENDING, CONFIRMED, FAILED, EXPIRED]
        - name: crypto_type
          in: query
          description: Filter by cryptocurrency
          schema:
            type: string
            enum: [SOL, USDT_SOL, USDT_ETH, USDT_BSC, USDT_POLYGON, USDT_ARBITRUM]
        - name: from_date
          in: query
          description: Start date (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: to_date
          in: query
          description: End date (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: page_size
          in: query
          description: Items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Payments retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/payments/{payment_id}:
    get:
      tags:
        - Payments
      summary: Get payment
      description: Get details of a specific payment
      security:
        - BearerAuth: []
      parameters:
        - name: payment_id
          in: path
          required: true
          description: Payment ID
          schema:
            type: string
            example: "pay_abc123"
      responses:
        '200':
          description: Payment retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        '404':
          description: Payment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/balance:
    get:
      tags:
        - Balance
      summary: Get balance
      description: Get current account balances
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Balance retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/analytics:
    get:
      tags:
        - Analytics
      summary: Get analytics
      description: Get payment analytics and statistics
      security:
        - BearerAuth: []
      parameters:
        - name: from_date
          in: query
          description: Start date (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: to_date
          in: query
          description: End date (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: blockchain
          in: query
          description: Filter by blockchain network
          schema:
            type: string
            enum: [SOLANA, ETHEREUM, BSC, POLYGON, ARBITRUM]
      responses:
        '200':
          description: Analytics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
