openapi: 3.0.3
info:
  title: Crypto Payment Gateway API
  description: |
    A multi-blockchain cryptocurrency payment gateway for merchants.
    
    ## Authentication
    All API requests require an API key in the Authorization header:
    ```
    Authorization: Bearer your_api_key_here
    ```
    
    ## Rate Limiting
    - 100 requests per minute per API key
    - Returns 429 when exceeded
    
    ## Webhooks
    Payment status updates are sent to your configured webhook URL with HMAC-SHA256 signatures.
    
  version: 1.0.0
  contact:
    email: support@cryptogateway.com
  license:
    name: MIT

servers:
  - url: https://api.cryptogateway.com
    description: Production server
  - url: https://staging-api.cryptogateway.com
    description: Staging server
  - url: http://localhost:8080
    description: Local development

tags:
  - name: Merchants
    description: Merchant account management
  - name: Payments
    description: Payment creation and verification
  - name: Refunds
    description: Refund management
  - name: Analytics
    description: Payment analytics and reporting
  - name: Sandbox
    description: Testing and development
  - name: Security
    description: IP whitelist and audit logs

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: API key for authentication

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          example: "Invalid payment ID"
    
    Merchant:
      type: object
      properties:
        merchant_id:
          type: integer
          example: 1
        email:
          type: string
          example: "merchant@example.com"
        business_name:
          type: string
          example: "My Store"
        api_key:
          type: string
          example: "live_abc123..."
        sandbox_api_key:
          type: string
          example: "test_xyz789..."
    
    Payment:
      type: object
      properties:
        payment_id:
          type: string
          example: "pay_abc123"
        status:
          type: string
          enum: [PENDING, CONFIRMING, CONFIRMED, FAILED, EXPIRED]
          example: "PENDING"
        amount:
          type: string
          example: "0.45"
        amount_usd:
          type: string
          example: "100.00"
        crypto_type:
          type: string
          enum: [SOL, USDT_SPL, USDT_BEP20, USDT_ARBITRUM, USDT_POLYGON]
          example: "SOL"
        network:
          type: string
          example: "SOLANA"
        deposit_address:
          type: string
          example: "7xKXtg2CW87d97TXJSDpbD5jBkheTqA83TZRuJosgAsU"
        payment_link:
          type: string
          example: "https://pay.cryptogateway.com/lnk_xyz789"
        qr_code_data:
          type: string
          example: "solana:7xKXtg2CW87d97TXJSDpbD5jBkheTqA83TZRuJosgAsU?amount=0.45"
        fee_amount:
          type: string
          example: "0.0068"
        fee_amount_usd:
          type: string
          example: "1.50"
        expires_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        transaction_hash:
          type: string
          nullable: true
    
    Refund:
      type: object
      properties:
        refund_id:
          type: string
          example: "ref_abc123"
        payment_id:
          type: string
          example: "pay_abc123"
        amount:
          type: string
          example: "0.45"
        amount_usd:
          type: string
          example: "100.00"
        status:
          type: string
          enum: [PENDING, COMPLETED]
        transaction_hash:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time

paths:
  /api/v1/merchants/register:
    post:
      tags: [Merchants]
      summary: Register a new merchant
      description: Create a new merchant account and receive API keys
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, business_name]
              properties:
                email:
                  type: string
                  format: email
                business_name:
                  type: string
      responses:
        '201':
          description: Merchant created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/merchants/wallets:
    put:
      tags: [Merchants]
      summary: Set wallet address
      description: Configure receiving wallet address for a blockchain
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [crypto_type, address]
              properties:
                crypto_type:
                  type: string
                  enum: [SOL, USDT_SPL, USDT_BEP20, USDT_ARBITRUM, USDT_POLYGON]
                address:
                  type: string
      responses:
        '200':
          description: Wallet address updated
        '400':
          description: Invalid address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    
    get:
      tags: [Merchants]
      summary: Get wallet addresses
      description: Retrieve all configured wallet addresses
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Wallet addresses
          content:
            application/json:
              schema:
                type: object
                properties:
                  wallets:
                    type: array
                    items:
                      type: object
                      properties:
                        crypto_type:
                          type: string
                        address:
                          type: string

  /api/v1/merchants/webhook:
    put:
      tags: [Merchants]
      summary: Set webhook URL
      description: Configure webhook endpoint for payment notifications
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  format: uri
                  example: "https://merchant-site.com/webhooks/crypto-payments"
      responses:
        '200':
          description: Webhook URL updated
        '400':
          description: Invalid URL (must be HTTPS)

  /api/v1/payments:
    post:
      tags: [Payments]
      summary: Create a payment
      description: Create a new payment request
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount_usd, crypto_type]
              properties:
                amount_usd:
                  type: number
                  format: double
                  example: 100.00
                crypto_type:
                  type: string
                  enum: [SOL, USDT_SPL, USDT_BEP20, USDT_ARBITRUM, USDT_POLYGON]
                description:
                  type: string
                  example: "Order #12345"
                metadata:
                  type: object
                  additionalProperties: true
                expiration_minutes:
                  type: integer
                  default: 15
                  example: 15
      responses:
        '201':
          description: Payment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          description: Invalid input
    
    get:
      tags: [Payments]
      summary: List payments
      description: Get all payments with optional filters
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [PENDING, CONFIRMING, CONFIRMED, FAILED, EXPIRED]
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: List of payments
          content:
            application/json:
              schema:
                type: object
                properties:
                  payments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Payment'

  /api/v1/payments/{payment_id}:
    get:
      tags: [Payments]
      summary: Get payment details
      description: Retrieve details of a specific payment
      security:
        - BearerAuth: []
      parameters:
        - name: payment_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Payment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '404':
          description: Payment not found

  /api/v1/payments/{payment_id}/verify:
    post:
      tags: [Payments]
      summary: Verify payment
      description: Manually verify a payment on blockchain
      security:
        - BearerAuth: []
      parameters:
        - name: payment_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [transaction_hash]
              properties:
                transaction_hash:
                  type: string
      responses:
        '200':
          description: Payment verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'

  /api/v1/refunds:
    post:
      tags: [Refunds]
      summary: Create a refund
      description: Initiate a refund for a confirmed payment
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [payment_id]
              properties:
                payment_id:
                  type: string
                amount:
                  type: number
                  format: double
                  description: "Partial refund amount (optional, defaults to full)"
                reason:
                  type: string
      responses:
        '201':
          description: Refund created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'

  /api/v1/refunds/{refund_id}:
    get:
      tags: [Refunds]
      summary: Get refund details
      security:
        - BearerAuth: []
      parameters:
        - name: refund_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Refund details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'

  /api/v1/analytics:
    get:
      tags: [Analytics]
      summary: Get analytics
      description: Retrieve payment analytics for a date range
      security:
        - BearerAuth: []
      parameters:
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Analytics data
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_volume_usd:
                    type: string
                  successful_payments:
                    type: integer
                  failed_payments:
                    type: integer
                  total_fees_paid:
                    type: string
                  average_transaction_value:
                    type: string

  /api/v1/analytics/export:
    get:
      tags: [Analytics]
      summary: Export analytics as CSV
      security:
        - BearerAuth: []
      parameters:
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: CSV file
          content:
            text/csv:
              schema:
                type: string

  /api/v1/merchants/ip-whitelist:
    put:
      tags: [Security]
      summary: Set IP whitelist
      description: Configure allowed IP addresses (max 10)
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ip_addresses]
              properties:
                ip_addresses:
                  type: array
                  items:
                    type: string
                  example: ["203.0.113.0/24", "198.51.100.42"]
      responses:
        '200':
          description: IP whitelist updated
    
    get:
      tags: [Security]
      summary: Get IP whitelist
      security:
        - BearerAuth: []
      responses:
        '200':
          description: IP whitelist
          content:
            application/json:
              schema:
                type: object
                properties:
                  ip_addresses:
                    type: array
                    items:
                      type: string

  /api/v1/audit-logs:
    get:
      tags: [Security]
      summary: Get audit logs
      description: Retrieve audit logs for your account
      security:
        - BearerAuth: []
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - name: action_type
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: Audit logs
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    action_type:
                      type: string
                    ip_address:
                      type: string
                    details:
                      type: string
                    created_at:
                      type: string
                      format: date-time

  /api/v1/sandbox/enable:
    post:
      tags: [Sandbox]
      summary: Enable sandbox mode
      description: Get sandbox credentials for testing
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Sandbox credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  sandbox_api_key:
                    type: string

  /api/v1/sandbox/payments/{payment_id}/simulate:
    post:
      tags: [Sandbox]
      summary: Simulate payment confirmation
      description: Manually confirm a sandbox payment
      security:
        - BearerAuth: []
      parameters:
        - name: payment_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [CONFIRMED, FAILED]
      responses:
        '200':
          description: Payment status updated

  /health:
    get:
      tags: [System]
      summary: Health check
      description: Check if the service is running
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "healthy"
